.card {
  width: 147px;
  height: 200px;
}

.backCard{
  width: 147px;
  height: 200px;
  background-image: url('../../Assets/img/background-cards.png');
}

.frontCard{
  width: 147px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactFlipCard{
  width: 100%;
  height: 100%;
}